.jumbotron{
    margin-top: 50px;
}

.card-hotel{
    flex: 1 200px;
    margin-bottom: 10px;
    /* padding: 2px 0; */
}
footer{
    margin: 0 auto;
    padding: 0 1em;  /* padding: 10px 10px 0 10px;  Crea una barra de desplazamiento => overflow: hidden;*/
}
footer, .jumbotron{
    background-color: rgb(233, 212, 126);
}

.btn:not(.pago){
    width: 100%;
    border-radius: 0;
}
.card-footer{
    width: 100%;
    padding: 0;
}