$yellow: rgb(208, 201, 153);
$red: rgb(216, 142, 142);
$green:rgb(58, 220, 37);

@mixin colores($color){
    background-color: $color;
    padding: 0.5em;
}

.jumbotron{
    @include colores($yellow);
}

.card-hotel{
    @include colores($red);
    margin-top: 0.5em;
}